**INITIALIZATION**

I use these three lines of code on top of my each notebooks because it will help to prevent any problems while reloading the same project. And the third line of code helps to make visualization within the notebook.

In [1]:
# INITIALIZATION: 
%reload_ext autoreload
%autoreload 2
%matplotlib inline

**DOWNLOADING LIBRARIES AND DEPENDENCIES:**

I have downloaded all the libraries and dependencies required for the project in one particular cell.

In [2]:
# INSTALLING LIBRARIES AND DEPENDENCIES:
import os
import pandas as pd
import torch

**READING THE DATASET**

In [30]:
# CREATING THE DATASET:
os.makedirs(os.path.join('./', 'data'), exist_ok=True) 
data_file = os.path.join('./', 'data', 'house.csv')
with open(data_file, 'w') as file:
    file.write(
        """NumRooms,RoofType,Price
        NA,NA,12788
        4,NA,18899
        6,Slate,788999
        NA,NA,12788000000"""
    )

In [31]:
# READING THE DATASET:
data = pd.read_csv(data_file)
print(data)

     NumRooms RoofType        Price
0          NA      NaN        12788
1           4      NaN        18899
2           6    Slate       788999
3          NA      NaN  12788000000

**DATA PREPARATION**

In [32]:
# PREPARING THE DATASET:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms_        4  NumRooms_        6  NumRooms_        NA  NumRooms_nan  \
0                   0                   0                    1             0
1                   1                   0                    0             0
2                   0                   1                    0             0
3                   0                   0                    1             0

   RoofType_Slate  RoofType_nan
0               0             1
1               0             1
2               1             0
3               0             1

In [33]:
# PROCESSING THE DATASET:
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms_        4  NumRooms_        6  NumRooms_        NA  NumRooms_nan  \
0                   0                   0                    1             0
1                   1                   0                    0             0
2                   0                   1                    0             0
3                   0                   0                    1             0

   RoofType_Slate  RoofType_nan
0               0             1
1               0             1
2               1             0
3               0             1

In [34]:
# CONVERTING INTO TENSORS:
X, y = torch.tensor(inputs.values), torch.tensor(targets.values)
X, y

(tensor([[0, 0, 1, 0, 0, 1],
         [1, 0, 0, 0, 0, 1],
         [0, 1, 0, 0, 1, 0],
         [0, 0, 1, 0, 0, 1]], dtype=torch.uint8),
 tensor([      12788,       18899,      788999, 12788000000]))